@{
    Layout = "/Views/Shared/_Layout.cshtml";

}

@model IEnumerable<Lab_05.Models.NoteStatus>
<!DOCTYPE html>
<html>
<head>
    <title>"Note Statuses"</title>
    <style>
        table {
            border-collapse: collapse;
        }

        th, td {
            border: 1px solid black;
            padding: 8px;
        }
    </style>
</head>
<body>
    <table cellpadding="5">
        <tr>
            <th>NoteStatusID</th>
            <th>Status Name</th>
        </tr>
        @foreach (var noteStatus in Model)
        {
            <tr>
                <td>@noteStatus.NoteStatusId</td>
                <td>@noteStatus.StatusName</td>
            </tr>
        }
    </table>

</body>
</html>