@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <div>
        <a href="https://localhost:7043/NoteStatuses/Index">NoteStatuses</a>
        <br />
        <a href="https://localhost:7043/NoteTags/Index">NoteTags</a>
        <br />
        <a href="https://localhost:7043/Users/Index">Users</a>
        <br />
        <a href="https://localhost:7043/SubNotes/Index">SubNotes</a>
        <br />
        <a href="https://localhost:7043/Notes/Index">Notes</a>
        <br />
    </div>
</div>
