@{
    ViewBag.Title = "Добавление заметки";
}
@model Lab_05.ViewModels.CreateNoteViewModel

<!DOCTYPE html>
<html>
<head>
    <title>"Notes"</title>
    <style>
        .form-cell {
                  
                }
        
                button {
                    margin-top: 10px;
                    background-color: #e7e5e5;
                    border: 1px solid #d1d1d1;
                    width: 150px;
                    height: 40px;
                    cursor: pointer;
                }
        
                textarea {
                    resize: none;
                }
                .main-div{
                    padding: 10px;
                    background-color: white;
                    border: 2px solid #474747;
                }
    </style>
</head>
<body>
    <div class="main-div">
        <form asp-controller="Notes" asp-action="Create">
            <h2 class="display-6">Добавление заметки</h2>
            <div class="form-group">
                <label asp-for="Title">Заголовок заметки</label>
                <input class="form-control form-cell" asp-for="Title" type="text" id="title" name="Title" required>
                <span asp-validation-for="Title"></span>
            </div>
            <div class="form-group">
                <label asp-for="Description">Описание</label>
                <textarea class="form-control form-cell" asp-for="Description" id="description" name="Description" required></textarea>
                <span asp-validation-for="Description"></span>
            </div>
            <div class="form-group">
                <label>Статус</label>
                <select id="status" class="form-control form-cell" asp-for="NoteStatusId" asp-items="Model.NoteStatuses"></select>
            </div >
            <div class="form-group">
                <label>Тэг</label>
                <select id="tag" class="form-control form-cell" asp-for="NoteTagId" asp-items="Model.NoteTags"></select>            
            </div>
            <div class="form-group">
                <label asp-for="StartDateTime">Дата начала выполнения:</label>
                @Html.EditorFor(model => model.StartDateTime, "{0:dd/MM/yyyy HH:mm}", new { htmlAttributes = new { @class = "form-control form-cell", @required = "required"} })
                <span asp-validation-for="StartDateTime"></span>
            </div>
            <div class="form-group">
                <label asp-for="EndDateTime">Дата конца выполнения:</label>
                @Html.EditorFor(model => model.EndDateTime, "{0:dd/MM/yyyy HH:mm}", new { htmlAttributes = new { @class = "form-control form-cell", @required = "required"} })
                <span asp-validation-for="EndDateTime"></span>
            </div>

            <button type="submit">Create Note</button>
        </form>
    </div>
</body>
</html>


