@model Lab_05.ViewModels.NoteTagsViewModel
<!DOCTYPE html>
<html>
<head>
    <title>Note Tags</title>
</head>
<style>
    button {
      background-color: #e7e5e5;
      border: 1px solid #d1d1d1;
       width: 120px;
       cursor: pointer;
    } 
     input[type="submit"] {
                padding: 10px 20px;
                background-color: #e7e5e5;
                border: 1px solid #d1d1d1;
                       cursor: pointer;
    }
    table {
               border-collapse: collapse;
           }
    
           th, td {
               border: 1px solid black;
               padding: 8px;
           }
</style>
<body>
<h2>Список тэгов</h2>

<table>
    <thead>
    <tr>
        <th>ID</th>
        <th>Tag Name</th>
        <th>Actions</th>
    </tr>
    </thead>
    <tbody>
    @foreach (var tag in Model.Tags)
    {
        <tr>
            <td>@tag.NoteTagId</td>
            <td>@tag.TagName</td>
            <td>
                <form asp-action="Edit" asp-route-id="@tag.NoteTagId" method="get">
                    <button type="submit">Изменить</button>
                </form>
                <form asp-action="Delete" asp-route-id="@tag.NoteTagId" method="post">
                    <button type="submit">Удалить</button>
                </form>
            </td>
        </tr>
    }
    </tbody>
</table>
<form method="post" class="form-contol">
    <input type="submit" asp-controller="NoteTags" asp-action="Create" value="Добавить"/>
</form>
</body>
</html>